#title{
background-color: dimgray;
width: 200px;
border-radius: 5px;
padding: 2px;
height: 30px;
margin: 10px;
border: 3px solid seashell;
margin-top: 10px;
display: block;

}

#content{
    background-color: dimgray;
    width: 200px;
    border-radius: 5px;
    padding: 2px;
    height: 30px;
    margin: 10px;
    margin-bottom: 10px;
    border: 3px solid seashell;
    display: block;

    }

#saveButton{
    color: black;
    background-color: rgb(216, 131, 131);
    font-size: larger;
    border-radius: 5px;
    font-style: oblique;
    text-decoration: none;
    box-shadow: none;
    margin-bottom: -3px;
    font-weight: bolder;
    border: 3px solid seashell;
    display: block;
}

#auther{
    background-color: dimgray;
    width: 200px;
    border-radius: 5px;
    padding: 2px;
    height: 40px;
    margin: 10px;
    margin-bottom: 10px;
    border: 3px solid seashell;
    display: block;
    font-weight: lighter;
}

label{
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: x-large;
}

button:disabled{
    background-color: #cccccc !important;
    color: #666666 !important ;
  }